<div class="section-footer">
  <div class="container">
    <div class="footer-nav-div">
    <ul class="footer-ul">
      <li class="footer-li">
        <a href="#about-us" class="footer-a">about us</a>
      </li>
      <li class="footer-li">
        <a href="#customer-order" class="footer-a">customer order</a>
      </li>
      <li class="footer-li">
        <a href="#our-collection" class="footer-a">our collection</a>
      </li>
      <li class="footer-li">
        <a href="#testimonials" class="footer-a">testimonials</a>
      </li>
    </ul>
    <p class="footer-p">
      A touch of <span class="footer-p-span">Ukrainian </span>culture in every
      embroidery
    </p>
  </div>
  </div>
  <div class="footer-ornament"></div>
</div>
