.section-footer {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
}
.footer-nav-div {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.footer-ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 25px;
  width: 300px;
}
.footer-li {
  flex-basis: calc(70% - 155px / 2);
}
.footer-a {
  cursor: pointer;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  transition: color 250ms linear;
}
.footer-a:hover,
.footer-a:focus
{ 
  color: var(--yellow);
}
.footer-p {
  color: var(--white);
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.32px;
  margin-bottom: 40px;
}
.footer-p-span {
  color: var(--yellow);
}

.footer-ornament {
  background-image: url(../img/footer/footer-ornament.png);
  width: 100%;
  height: 200px;
  background-position: center;
}

/* media */

@media screen and (min-width: 320px) {
  .footer-p {
    max-width: 335px;
  }
  .footer-li {
    flex-basis: calc(69% - 155px / 2);
  }
}

@media screen and (min-width: 768px) {
  .footer-nav-div {
    position: absolute;
  }
  .footer-ul {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 25px;
    width: auto;
    margin-bottom: 80px;
  }
  .footer-li {
    flex-basis: auto;
  }
  .footer-p {
    max-width: 521px;
    font-size: 54px;
    line-height: 64px;
  }
  .footer-ornament {
    background-image: url(../img/footer/footer-ornament-tab.png);
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    height: 375px;
    width: 176px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .footer-p {
    max-width: 754px;
    line-height: 74px;
    font-size: 64px;
  }
  .footer-nav-div {
    padding-bottom: 0;
  }
  .footer-ornament {
    background-image: url(../img/footer/footer-ornament-pc-1280.png);
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    height: 402px;
    width: 338px;
    background-size: 338px 402px;
  }
}
