header {
  background-color: #1c2225;
  width: 100%;
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}

.header-container {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  height: 52px;
}

@media screen and (min-width: 375px) {
  .header-container {
    padding-top: 20px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 704px;
    padding-top: 20px;
    /* padding: 0 32px; */
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    width: 1080px;
    /* padding: 0 100px; */
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    width: 1240px;
    padding-top: 18px;
  }
}

.page-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}

.menu-button-icon {
  stroke: #ecd979;
}

.logo-nav {
  display: block;
  width: 44px;
  height: 39px;
}

@media screen and (min-width: 1280px) {
  .logo-nav {
    margin-right: 60px;
  }
}

.nav-list {
  display: none;
}
@media screen and (min-width: 1280px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}

.nav-link {
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28571;
  text-transform: uppercase;
}
.nav-link:hover,
.nav-link:focus {
  color: #ecd979;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.contacts:hover,
.contacts:focus {
  border: 1px solid #ecd979;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .contacts {
    display: flex;
  }
}

.contacts-link {
  padding: 14px 28px;
  width: 137px;
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: content-box;
}

.menu-buttons-right {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .menu-buttons-right {
    gap: 20px;
  }
}

.header-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  fill: #fcf9f9;
  opacity: 0.8;
    
  }
.social-link:hover,
.social-link:focus {
  border: 1px solid #ecd979;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MOBILE MENU */

.mobile-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(46, 47, 66, 0.4);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
position: absolute;
background-color: #ecd979;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 274px;
  align-items: flex-end;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu-container {
    width: 380px;
    margin: o auto;
  }
}

.tel-and-close-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .tel-and-close-btn {
    padding: 20px 20px 0;
  }
}
@media screen and (min-width: 768px) {
  .tel-and-close-btn {
    padding: 20px 32px 0;
  }
}

.contacts-menu {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
  width: 158px;
}

.contacts-mobile-link {
  color: #1c2225;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16667;
  text-transform: uppercase;
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: content-box; */
  white-space: nowrap;
}

.close-mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.menu-button-icon-close {
  stroke: #1c2225;
  width: 36px;
  height: 36px;
}
@media screen and (min-width: 768px) {
  .menu-button-icon-close {
    width: 44px;
    height: 44px;
  }
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 20px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .mobile-nav-list {
    padding-right: 32px;
    gap: 25px;
  }
}

.mobile-nav-link {
  color: #1c2225;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  text-transform: uppercase;
}

.img-container {
  width: 100%;
  height: 251px;
  background-repeat: no-repeat;
  background-image: url('../img/header-images/elements-min.png');
  background-size: 100%;
  min-width: 274px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .img-container {
    background-image: url('../img/header-images/elements@2x-min.png');
  }
}

@media screen and (min-width: 768px) {
  .img-container {
    background-image: url('../img/header-images/elements-tab.png');
    height: 251px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .img-container {
    background-image: url('../img/header-images/elements-tab-@2x.png');
  }
}
