.hero-container {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

@media screen and (min-width: 375px) {
  .hero-container {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    width: 704px;
    /* padding-top: 20px;
    padding: 0 32px; */
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1080px;
    /* padding: 0 100px; */
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    width: 1240px;
    padding-top: 18px;
  }
}

.section-hero {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 375px; */
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px){
  .section-hero{
    padding: 106px 32px 100px;
  }
}

.titlel {
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px; /* 122.727% */
  letter-spacing: -1.32px;
}

.titlell {
  color: #ecd979;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.32px;
}

@media screen and (min-width: 768px) {
  .titlel {
    color: var(--white, #fcf9f9);
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 118.519% */
    letter-spacing: -1.62px;

    width: 549px;
  }

  .titlell {
    color: #ecd979;
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1.62px;
  }
}
@media screen and (min-width: 1280px){
  .titlel{
    width: 518px;
  }
}
@media screen and (min-width: 1440px) {
  .titlel {
    color: var(--white, #fcf9f9);
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px; /* 115.625% */
    letter-spacing: -1.92px;

    width: 632px;
  }

  .titlell {
    color: #ecd979;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: -1.92px;
  }
}

.hero-button {
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 14px 39px;

  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  width: 169px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero-button {
    margin-top: 40px;
  }
}

.hero-button:hover,
.hero-button:focus {
  border: 1px solid #ecd979;
}

.hero-button-icon {
  margin-left: 10px;
}

.hero-image-girl {
  border-radius: 4px;
  background: lightgray 50% / cover no-repeat;
}

@media screen and (min-width: 375px) {
  .hero-image-girl {
    width: 335px;
    height: 545px;
  }
}

@media screen and (min-width: 768px) {
  .hero-image-girl {
    width: 413px;
    height: 575px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-image-girl {
    width: 392px;
    height: 545px;
  }
}

.hero-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  width: 115px;
}

.fixed-objects {
  display: none;
}
@media screen and (min-width: 768px) {
  .fixed-objects {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    position: relative;
    width: 219px;
  }
}
@media screen and (min-width: 768px) {
  .static {
    /* width: 549px; */
  }
}
.star-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -22px;
  right: 0;
}

.hero-image-shirt {
  position: absolute;
  bottom: -96px;
  right: 0;
}
