.hero-container{
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 375px){
  .hero-container{
  padding-top: 20px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  }
}


@media screen and (min-width: 768px){
  .hero-container{
      width: 704px;
      padding-top: 20px;
      /* padding: 0 32px; */
  }
}

@media screen and (min-width: 1280px){
  .hero-container{
      width: 1080px;
      /* padding: 0 100px; */
  }
}

@media screen and (min-width: 1440px){
  .hero-container{
      width: 1240px;
      padding-top: 18px;
  }
}


@media screen and (min-width: 768px){
  .static{
  width: 549px;
  }
}

@media screen and (min-width: 768px){
  .fixed-objects{
  width: 219px;
  }
}


.section-hero {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 375px; */
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title1 {
  color: #FCF9F9;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  
}

.titlell {
  color: #ECD979;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

/* .container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
  }
} */

.fixed-objects{
  display: none;
}
@media screen and (min-width: 768px) {
  .fixed-objects{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    position: relative;
    width: 219px;
  }
}

.star-block{
  position: absolute;
  top: 0;
  right: 0;
}


.hero-image-shirt{
  position: absolute;
  bottom: 0;
  right: 0;
}