.hero-container {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 80px;
}
@media screen and (min-width: 375px) {
  .hero-container {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    width: 704px;
    padding-top: 106px;
    padding-bottom: 100px;
    /* padding-top: 20px;
    padding: 0 32px; */
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1080px;
    padding-top: 100px;
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-container {
    width: 1240px;
    padding-top: 100px;
  }
}
.section-hero {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 375px; */
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .section-hero {
    padding: 106px 32px 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section-hero {
    width: 1080px;
    padding: 106px 0 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section-hero {
    width: 1240px;
  }
}
.titlel {
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px; /* 122.727% */
  letter-spacing: -1.32px;
}
@media screen and (max-width: 767px) {
  .hand-made-block {
    display: none;
  }
  .section-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 375px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-image-girl {
    border-radius: 4px;
  }
  .hero-title {
    width: 335px;
    color: #fcf9f9;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -0.03em;
    padding-bottom: 20px;
  }
  .part-hero-title {
    color: #ecd979;
  }
  .hero-button {
    background-color: transparent;
    display: flex;
    display: inline-flex;
    padding: 14px 36px;
    margin-left: 70px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    color: #fcf9f9;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    transition: border 250px linear;
  }
  .hero-button-icon {
    fill: var(--yellow);
  }
  .hero-button:hover,
  .hero-button:focus {
    border: 1px solid var(--yellow);   
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    width: 549px;
    padding-top: 26px;
    padding-bottom: 40px;
    color: #fcf9f9;
    font-size: 54px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }
  .part-hero-title {
    color: #ecd979;
  }
  .hero-button {
    background: #1c2225;
    display: inline-flex;
    padding: 14px 39px;
    margin-left: 141px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    color: #fcf9f9;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    transition: border 250px linear;
  }
  .hero-button-icon {
    fill: #ecd979;
  }
  .hero-button:hover,
  .hero-button:focus {
    border-radius: 15px;
    border: 1px solid var(--yellow, #ecd979);
  }
  .hero-image-girl {
    border-radius: 4px;
  }
  .hand-made-block {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -94px;
  }
  .star-block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .star-block-icon {
    fill: #ecd979;
  }
  .hero-button-icon {
    fill: #ecd979;
  }
  .hero-button:hover,
  .hero-button:focus {
    border-radius: 15px;
    border: 1px solid var(--yellow);
  }
  .star-block-text {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1280px) {
}
.hero-title-girl-block {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}
.section-hero {
  max-width: 1280px;
  padding-top: 100px;
}
.hero-images-girl {
  border-radius: 4px;
}
.hero-title-block {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  gap: 40px;
}
.hero-title {
  width: 518px;
  padding-top: 94px;
  padding-bottom: 40px;
  letter-spacing: -0.02em;
}
.part-hero-title {
  color: #ecd979;
}
.hero-text {
  width: 115px;
  letter-spacing: -0.04em;
}
.hand-made-block {
  margin-bottom: -98px;
}
.star-block {
  margin-top: 14px;
}
.titlell {
  color: #ecd979;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.32px;
}
@media screen and (min-width: 768px) {
  .titlel {
    color: var(--white, #fcf9f9);
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 118.519% */
    letter-spacing: -1.62px;
    width: 549px;
  }
  .titlell {
    color: #ecd979;
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1.62px;
  }
}
@media screen and (min-width: 1280px) {
  .titlel {
    width: 518px;
  }
}
@media screen and (min-width: 1440px) {
  .titlel {
    color: var(--white, #fcf9f9);
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px; /* 115.625% */
    letter-spacing: -1.92px;
    width: 630px;
  }
  .titlell {
    color: #ecd979;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: -1.92px;
  }
}
.hero-button {
  color: var(--white);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 14px 39px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  width: 169px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 30px;
  
  transition: border 250ms linear;
}
@media screen and (min-width: 375px) {
  .hero-button {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .hero-button {
    margin-top: 40px;
    margin-left: 141px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-button {
    margin-top: 54px;
  }
}
.hero-button:hover,
.hero-button:focus {
  border: 1px solid #ecd979;
}
.hero-button-icon {
  margin-left: 10px;
}
.hero-image-girl {
  border-radius: 4px;
  background: lightgray 50% / cover no-repeat;
}
@media screen and (min-width: 375px) {
  .hero-image-girl {
    width: 335px;
    height: 545px;
  }
}
@media screen and (min-width: 768px) {
  .hero-image-girl {
    width: 413px;
    height: 575px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image-girl {
    width: 392px;
    height: 545px;
  }
}
.hero-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  width: 115px;
}
.fixed-objects {
  display: none;
}
@media screen and (min-width: 768px) {
  .fixed-objects {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    position: relative;
    width: 219px;
  }
}
@media screen and (min-width: 1280px) {
  .fixed-objects {
    width: 115px;
  }
}
.star-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -39px;
  right: 0;
}
@media screen and (min-width: 1280px) {
  .star-block {
    top: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .star-block {
    top: 40px;
  }
}
.hero-image-shirt {
  position: absolute;
  bottom: -100px;
  right: 0;
}
@media screen and (min-width: 1280px) {
  .hero-image-shirt {
    display: block;
    bottom: -80px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-image-shirt {
  }
}
@media screen and (min-width: 1280px) {
  .static {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1280px) {
  .container-text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 94px;
  }
}
@media screen and (min-width: 1440px) {
  .container-text {
    margin-top: 66px;
  }
}
