.hero-container{
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

@media screen and (min-width: 375px){
  .hero-container{

  width: 335px;
  margin-left: auto;
  margin-right: auto;
  }
}


@media screen and (min-width: 768px){
  .hero-container{
      width: 704px;
      padding-top: 20px;
      padding: 0 32px;
  }
}

@media screen and (min-width: 1280px){
  .hero-container{
      width: 1080px;
      /* padding: 0 100px; */
  }
}

@media screen and (min-width: 1440px){
  .hero-container{
      width: 1240px;
      padding-top: 18px;
  }
}


@media screen and (min-width: 768px){
  .static{
  width: 549px;
  }
}

@media screen and (min-width: 768px){
  .fixed-objects{
  width: 219px;
  }
}


.section-hero {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 375px; */
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.titlel {
  color: var(--white, #FCF9F9);
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px; /* 122.727% */
  letter-spacing: -1.32px;
  
}

.titlell {
  color:  #ECD979;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.32px;
}

@media screen and (min-width: 768px){
  .titlel {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 118.519% */
    letter-spacing: -1.62px;
    
  }
  
  .titlell {
    color:  #ECD979;
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1.62px;
  }
}
@media screen and (min-width: 1440px){
  .titlel {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px; /* 115.625% */
    letter-spacing: -1.92px;
    
  }
  
  .titlell {
    color:  #ECD979;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: -1.92px;
  }
}

.hero-button{
  color: var(--white, #FCF9F9);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 14px 39px;

  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  width: 169px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero-button{
    margin-top: 40px;
  }
}

.hero-button:hover, .hero-button:focus{
  border: 1px solid #ECD979;
}

.hero-button-icon{
  margin-left: 10px;
}

.hero-image-girl{
  border-radius: 4px;
  background: lightgray 50% / cover no-repeat;
}

@media screen and (min-width: 375px){
  .hero-image-girl{
    width: 335px;
    height: 545px;
  }
}


@media screen and (min-width: 768px){
  .hero-image-girl{
    width: 413px;
    height: 575px;
  }
}

@media screen and (min-width: 1280px){
  .hero-image-girl{
    width: 392px;
    height: 545px;
  }
}



.fixed-objects{
  display: none;
}
@media screen and (min-width: 768px) {
  .fixed-objects{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    position: relative;
    width: 219px;
  }
}

.star-block{
  position: absolute;
  top: 0;
  right: 0;
}


.hero-image-shirt{
  position: absolute;
  bottom: 0;
  right: 0;
}