.testimonials-part {
  padding-bottom: 80px;
}
.testimonials-title {
  color: var(--white);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.96px;
  margin-bottom: 64px;
}
.testimonials-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 0px 18px 18px 18px;
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}
.person-list_img {
  position: relative;
  top: -28px;
  margin-bottom: -14px;
}
.person-testimonials {
  color: var(--white);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
}
.testimonials-p {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.two {
  display: none;
}
.three {
  display: none;
}

@media screen and (min-width: 320px) {
  .testimonials-p {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .two {
    display: flex;
  }
  .testimonials-p {
    width: 300px;
    height: 176px;
    font-size: 16px;
  }
  .testimonials-part{
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .three {
    display: flex;
  }
  .testimonials-p {
    width: auto;
  }
  .testimonials-part{
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .testimonials-p {
    width: 359px;
    height: 154px; 
  }
  .testimonials-list{
    column-gap: 26px;
  }

}