.order-section {
  padding-bottom: 80px;
}
.order-background-shirt {
  background-image: url(../img/your-order/backdroung-woman.jpg);
  background-size: cover;
  height: 550px;
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 80px;
}
.order-p {
  color: var(--white);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.96px;
  margin-bottom: 40px;
}
.order-p-san {
  color: var(--yellow);
}
.label-and-input-div {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 375px;
}
.input {
  background-color: transparent;
  outline: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 14px 16px;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  transition: border 250ms linear;
}
.input:focus,
.input:hover {
  border: 1px solid rgba(252, 249, 249, 0.6);
}
.input::placeholder {
  color: rgba(252, 249, 249, 0.5);
}
.textarea {
  background-color: transparent;
  outline: transparent;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 14px 16px;
  height: 196px;
  color: var(--white, #fcf9f9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  resize: none;
  transition: border 250ms linear;
}
.textarea:focus,
.textarea:hover {
  border: 1px solid rgba(252, 249, 249, 0.6);
}
.textarea::placeholder {
  color: rgba(252, 249, 249, 0.5);
}
.submit-button {
  background-color: transparent;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  transition: border 250ms linear;
}
.submit-button:hover,
.submit-button:focus {
  border: 1px solid var(--yellow);
}
.submit-button-icon {
  fill: var(--yellow);
}
.image-container {
  display: none;
}

@media screen and (min-width: 320px) {
  @media screen and (min-resolution: 192dpi) {
    .order-background-shirt {
      background-image: url(../img/your-order/backdroung-woman@2x.jpg);
      background-size: cover;
    }
  }
}
@media screen and (min-width: 768px) {
  .order-section {
    padding-bottom: 100px;
  }
  .image-container {
    display: flex;
    justify-content: right;
    height: 521px;
  }
  .order-img{
    position: absolute;
  }
  .order-ornament{
    background-image: url(../img/your-order/kol.png);
    position: relative;
    background-size: cover;
    height: 450px;
    right: 425px;
    top: 116px;
    background-position: bottom;
  }
  .order-background-shirt {
    background-image: url(../img/your-order/tablet-background-woman.jpg);
    background-size: cover;
height: 776px;
    padding-bottom: 100px;
  }
  @media screen and (min-resolution: 192dpi) {
    .order-background-shirt {
      background-image: url(../img/your-order/tablet-background-woman@2x.jpg);
    }
  }
  .order-p {
    width: 542px;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: -1.32px;
  }
  .your-order-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .label-and-input-div {
    min-width: 508px;
    gap: 20px;
  }
  .submit-button {
    margin-left: 0;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .order-section {
    padding-bottom: 150px;
  }
  .order-background-shirt {
    background-image: url(../img/your-order/desktop-background-woman.jpg);
    margin-bottom: 150px;
  }
  @media screen and (min-resolution: 192dpi) {
    .order-background-shirt {
      background-image: url(../img/your-order/desktop-background-woman@2x.jpg);
    }
  }
  .order-form-div{
    max-width: 542px;
  }
  .image-container {
    min-width: 524px;
    max-height: 670px;
  }
  .order-ornament{
    right: 355px;
    top: 156px;
  }
  .order-container {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px;
  }
  .submit-button {
    margin-bottom: 0;
  }
  .order-img {
    width: 524px;
    height: 521px;
    flex-shrink: 0;
  }
}
